@tailwind base;
@tailwind components;
@tailwind utilities;

/* Removendo todas as variáveis CSS customizadas e usando apenas Tailwind padrão */
@layer base {
  * {
    border-color: hsl(214.3 31.8% 91.4%);
  }

  body {
    background-color: white;
    color: black;
  }
}
